@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300;400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root{
    --main-brand-color: #059919;
    --primary-color: #15171C;
    --secondary-color: #232933;
    --light-secondary-color: #2E3744;
    --text-color: white;
    --secondary-text-color: #B3B4B6;
}
*{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
body{
    min-height: 100vh;
    background: var(--primary-color);
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    color: var(--text-color);
}
h1{
    font-size: 100px;
    line-height: 110%;
}
h3{
    font-size: 38px;
}
@media(max-width: 800px){
    body{
        font-size: 16px;
    }
    h3{
        font-size: 28px;
    }
    h1{
        font-size: 12vw;
        text-align: center;
    }
    .subheading{
        text-align: center;
    }
}
.bilder{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 15px 0;
}
.bilder img{
    flex-wrap: wrap;
    width: 40%;
    height: 35%;
    margin: 10px 0;
    border-radius: 3rem;
}
.bilder_team img{
    flex-wrap: wrap;
    width: 65%;
    height: 45%;
    margin: 10px 0;
    border-radius: 3rem;
}
.gotopbtn{
    position: fixed;
    width: 5%;
    height: 5%;
    background: #059919;
    bottom: 4%;
    right: 4%;

    text-decoration: none;
    text-align: center;
    line-height: 50px;
    color: white;
    font-size: 220%;
    border-radius: 3rem;
}
.gotoback{
    position: fixed;
    width: 5%;
    height: 5%;
    background: #059919;
    bottom: 4%;
    right: 91%;

    text-decoration: none;
    text-align: center;
    line-height: 50px;
    color: white;
    font-size: 220%;
    border-radius: 3rem;
}