header{
    padding: 100px 25px;

    font-size: 380%;

  
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
  }
  .kopf{
    width: 850px;
  }
  nav{
    margin-bottom: 120px;
  }
  nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
  }
  nav a{
    color: var(--secondary-text-color);
    text-decoration: none;
    position: relative;
    padding: 3px;
  }
  nav a:hover{
    color: var(--text-color);
  }
  nav a::after{
    content: '';
    height: 2px;
    width: 0%;
    background: var(--main-brand-color);
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 150ms ease-in-out;
  } 
  nav a:hover::after{
    width: 100%;
  }
  .logo{
    height: 600px;
    width: 600px;
  
    max-height: 80vw;
    max-width: 80vw;
  
    overflow: hidden;
    border-radius: 50%;
    border: 20px solid var(--main-brand-color);
  
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .logo img{
    width: 106%;
  }
  #toggle_button{
    display: none;
  }
  label[for="toggle_button"]{
    display: none;
  }
  label[for="toggle_button"] span{
    font-size: 40px;
  }
  @media(max-width: 800px){
    nav{
        position: absolute;
        top: 0;
        left: 0;
        background: var(--secondary-color);
        padding: 15px;
        border-radius: 0 0 25px 0;
    }
    nav ul{
        display: none;
        flex-direction: column;
    }
    label[for="toggle_button"]{
        display: block;
    }
    #toggle_button:checked ~ ul{
        display: flex;
    }

  }


